<h1>Github Star Growth</h1>

<form id='add-repo-form' action="">
  <div class="row">
    <div class="large-6 columns">
      <p>Compare some popular open source projects and how their star count progressed over time.</p>
    </div>
    <div class="large-6 columns">
      <div class="row collapse postfix-round">

        <div class="small-9 columns">
          <input type="text" id="repo-input" placeholder="rails/rails">
        </div>
        <div class="small-3 columns">
          <a href="#" class="button postfix add-repo">Add Repo</a>
        </div>
      </div>
    </div>
  </div>
</form>


<div id="chart"></div>
