<h1>Github Star Growth</h1>

<form id="add-repo-form" action="">
  <div class="row">
    <div class="large-6 columns">
      <p>Compare some popular open source projects and how their star count progressed over time. Checkout the source at <a href="https://github.com/nambrot/github-star-growth">https://github.com/nambrot/github-star-growth</a>. Created by <a href="https://twitter.com/nambrot">@nambrot</a> at <a href="http://nambrot.com">nambrot.com</a>.</p>
    </div>
    <div class="large-6 columns">
      <div class="row collapse postfix-round">

        <div class="small-9 columns">
          <input type="text" id="repo-input" placeholder="rails/rails">
        </div>
        <div class="small-3 columns">
          <a href="#" class="button postfix add-repo">Add Repo</a>
        </div>
      </div>
    </div>
  </div>
</form>


<div id="chart"></div>

<div class="row">
  <ul class="medium-block-grid-2 large-block-grid-3">
    <li>
      <h3>Most Popular Repositories</h3>
      <ul class="repo-list">
        <li><a href="https://github.com/twbs/bootstrap">Bootstrap</a></li>
        <li><a href="https://github.com/joyent/node">Node</a></li>
        <li><a href="https://github.com/angular/angular.js">Angular</a></li>
        <li><a href="https://github.com/mbostock/d3">D3</a></li>
        <li><a href="https://github.com/jquery/jquery">jQuery</a></li>
        <li><a href="https://github.com/vhf/free-programming-books">Free Programming Books</a></li>
        <li><a href="https://github.com/FortAwesome/Font-Awesome">Font Awesome</a></li>
        <li><a href="https://github.com/h5bp/html5-boilerplate">HTML5 Boilerplate</a></li>
        <li><a href="https://github.com/rails/rails">Ruby on Rails</a></li>
        <li><a href="https://github.com/bartaz/impress.js">Impress.js</a></li>
      </ul>
    </li>
    <li>
      <h3>Popular Frontend Frameworks</h3>
      <ul class="repo-list">
        <li><a href="https://github.com/angular/angular.js">Angular</a></li>
        <li><a href="https://github.com/jashkenas/backbone">Backbone</a></li>
        <li><a href="https://github.com/emberjs/ember.js">Ember</a></li>
        <li><a href="https://github.com/knockout/knockout">Knockout</a></li>
        <li><a href="https://github.com/tastejs/todomvc">TodoMVC</a></li>
        <li><a href="https://github.com/spine/spine">Spine</a></li>
        <li><a href="https://github.com/Polymer/polymer">Polymer</a></li>
        <li><a href="https://github.com/mozbrick/brick">Brick</a></li>
        <li><a href="https://github.com/facebook/react">React</a></li>
        <li><a href="https://github.com/dojo/dojo">Dojo</a></li>
        <li><a href="https://github.com/finom/matreshka">Matreshka</a></li>
      </ul>
    </li>

    <li>
      <h3>Popular Backend Frameworks</h3>
        <ul class="repo-list">
          <li><a href="https://github.com/django/django">Django</a></li>
          <li><a href="https://github.com/rails/rails">Ruby on Rails</a></li>
          <li><a href="https://github.com/cakephp/cakephp">Cake PHP</a></li>
          <li><a href="https://github.com/perl-catalyst/catalyst-runtime">Catalyst Runtime</a></li>
          <li><a href="https://github.com/ninjaframework/ninja">Ninja</a></li>
          <li><a href="https://github.com/revel/revel">Revel</a></li>
          <li><a href="https://github.com/strongloop/express">Express</a></li>
          <li><a href="https://github.com/sinatra/sinatra">Sinatra</a></li>
          <li><a href="https://github.com/mitsuhiko/flask">Flask</a></li>
          <li><a href="https://github.com/meteor/meteor">Meteor</a></li>
          <li><a href="https://github.com/playframework/playframework">Play</a></li>
          <li><a href="https://github.com/symfony/symfony">Symfony</a></li>
          <li><a href="https://github.com/laravel/laravel">Laravel</a></li>
          <li><a href="https://github.com/kraih/mojo">Mojo</a></li>
          <li><a href="https://github.com/balderdashy/sails">Sails</a></li>
          <li><a href="https://github.com/lotus/lotus">Lotus</a></li>
          <li><a href="https://github.com/pakyow/pakyow">Pakyow</a></li>
        </ul>
    </li>
    <li>
      <h3>Popular NoSQL Projects</h3>
      <ul class="repo-list">
        <li><a href="https://github.com/basho/riak">Riak</a></li>
        <li><a href="https://github.com/mongodb/mongo">Mongo</a></li>
        <li><a href="https://github.com/antirez/redis">Redis</a></li>
        <li><a href="https://github.com/rethinkdb/rethinkdb">RethinkDB</a></li>
        <li><a href="https://github.com/pouchdb/pouchdb">PouchDB</a></li>
        <li><a href="https://github.com/twitter/flockdb">FlockDB</a></li>
        <li><a href="https://github.com/ravendb/ravendb">RavenDB</a></li>
        <li><a href="https://github.com/thinkaurelius/titan">Titan</a></li>
        <li><a href="https://github.com/jankotek/MapDB">MapDB</a></li>
        <li><a href="https://github.com/neo4j/neo4j">Neo4j</a></li>
        <li><a href="https://github.com/orientechnologies/orientdb">OrientDB</a></li>
        <li><a href="https://github.com/apache/couchdb">CouchDB</a></li>
        <li><a href="https://github.com/arangodb/arangodb">ArrangoDB</a></li>
      </ul>
    </li>
  </ul>
</div>
