<h1>Github Star Growth</h1>

<form id='add-repo-form' action="">
  <div class="row">
    <div class="large-6 columns">
      <p>Compare some popular open source projects and how their star count progressed over time.</p>
    </div>
    <div class="large-6 columns">
      <div class="row collapse postfix-round">

        <div class="small-9 columns">
          <input type="text" id="repo-input" placeholder="rails/rails">
        </div>
        <div class="small-3 columns">
          <a href="#" class="button postfix add-repo">Add Repo</a>
        </div>
      </div>
    </div>
  </div>
</form>


<div id="chart"></div>

<div class="row">
  <ul class="medium-block-grid-2 large-block-grid-3">
    <li>
      <h3>Most Popular Repositories</h3>
      <ul class="repo-list">
        <li><a href="https://github.com/twbs/bootstrap">Bootstrap</a></li>
        <li><a href="https://github.com/joyent/node">Node</a></li>
        <li><a href="https://github.com/angular/angular.js">Angular</a></li>
        <li><a href="https://github.com/mbostock/d3">D3</a></li>
        <li><a href="https://github.com/jquery/jquery">jQuery</a></li>
        <li><a href="https://github.com/vhf/free-programming-books">Free Programming Books</a></li>
        <li><a href="https://github.com/FortAwesome/Font-Awesome">Front Awesome</a></li>
        <li><a href="https://github.com/h5bp/html5-boilerplate">HTML5 Boilerplate</a></li>
        <li><a href="https://github.com/rails/rails">Ruby on Rails</a></li>
        <li><a href="https://github.com/bartaz/impress.js">Impress.js</a></li>
      </ul>
    </li>
  </ul>
</div>
